body {
    margin: 0;
    padding: 0;
}

header {
    color: white;
    background-color: rgb(40, 116, 240);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
}

.logo {
    display: flex;
    flex-direction: column;
}

.logo a {
    text-decoration: none;
    color: white;
    font-style: italic;
    font-size: 13px;
}

.logo a span {
    color: yellow;
}

.logo a:hover {
    text-decoration: underline;
}


nav ul li {
    font-weight: bold;
    display: inline;
    cursor: pointer;
    white-space: nowrap;
}

nav ul li:not(:last-child) {
    padding-right: 20px;
}

nav ul ul li {
    display: block;
    height: 30px;
    margin-top: 20px;
    border-bottom: 1px solid lightgrey;
    width: 230px;
    cursor: pointer;

}

nav ul ul {
    display: none;

}

nav ul li:hover ul {
    display: block;
    position: absolute;
    background-color: white;
    color: black;
    cursor: pointer;
    margin: 0;
    padding: 0;
    border-radius: 5px;

}


#moresub {
    display: none;
    position: absolute;
    right: 100px;
    border-radius: 10px;

}

.more:hover #moresub {
    display: block;
}

.search {
    display: flex;
    border: none;
}

.search input[type='text'] {
    width: 700px;
    height: 32px;
    border: none;
    outline: none;
}

.search button i {
    color: rgb(40, 116, 240);
    height: 30px;
    font-size: 25px;
    border: none;
}

.search button {
    border: none;
}

.fa-user-circle,
.fa-plus-square {
    color: rgb(232, 18, 36);
}


.login input[type='button'] {
    width: 130px;
    font-weight: bold;
    background-color: white;
    color: rgb(40, 116, 240);
    padding: 10px 30px;
    border: none;
}

.fashion ul {
    list-style: none;
    background-color: white;
    height: 500px;
    box-shadow: 10px 10px 5px black;
    border-radius: 10px;
}

.fashion ul li ul {
    display: none;
    position: absolute;
    top: 15px;
    left: 220px;
    z-index: 2;
}

.fashion ul li:hover ul {
    display: block;

}

.fashion ul li {
    padding: 10px 5px;
}

.fashion ul>li>a:hover {
    color: rgb(40, 116, 240);
}

.fashionright {
    border-left: 1px solid lightgray;
    margin-left: 210px;

}

.electronics ul {
    list-style: none;
    background-color: white;
    height: 500px;
    box-shadow: 10px 10px 5px black;
    border-radius: 10px;

}


.electronics ul li {
    padding: 10px 5px;
}

.electronics ul>li>a:hover {
    color: rgb(40, 116, 240);
}

.electronics ul li ul {
    display: none;
    position: absolute;
    top: 25px;
    left: 220px;
    z-index: 2;
}

.electronics ul li:hover ul {
    display: block;

}

.electronicsright {
    border-left: 1px solid lightgray;
    margin-left: 210px;

}


.beautyMore ul {
    list-style: none;
    background-color: white;
    height: 500px;
    box-shadow: 10px 10px 5px black;
    border-radius: 10px;
}

.beautyMore ul li {
    padding: 10px 5px;
}

.beautyMore ul li ul {
    display: none;
    position: absolute;
    top: 25px;
    left: 220px;
    z-index: 2;
}

.beautyMore ul li:hover ul {
    display: block;

}

.beautyMore ul>li>a:hover {
    color: rgb(40, 116, 240);
}

.beautyMoreright {
    border-left: 1px solid lightgray;
    margin-left: 210px;

}


.home ul {
    list-style: none;
    background-color: white;
    height: 500px;
    box-shadow: 10px 10px 5px black;
    border-radius: 10px;

}

.home ul li {
    padding: 10px 5px;

}

.home ul li ul {
    display: none;
    position: absolute;
    top: 25px;
    left: 220px;
    z-index: 2;
}

.home ul li:hover ul {
    display: block;

}

.home ul li:hover a {
    color: rgb(40, 116, 240);
}

.homeright {
    border-left: 1px solid lightgray;
    margin-left: 200px;

}


.offer {
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
    box-shadow: 0 2px 3px -1px rgba(0, 0, 0, 0.1);
}

.offer1 {
    display: flex;
    flex-direction: column;
}

.offer1 img {
    height: 100px;
}

.offer1 a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    white-space: nowrap;
}

.offer1 div {
    display: none;
}

.offer1:hover div {
    position: absolute;
    top: 100px;
    display: block;
}

.fashion {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.fashionleft {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.fashion ul {
    list-style: none;
    background-color: white;
}

.sale3 {
    margin: 40px auto;
    text-align: center;
}


.sale9 {

    margin: 40px auto;
    text-align: center;
}

.sale4 {

    margin: 40px auto;
    text-align: center;
}

.knowmore {

    text-align: center;
}

.bestofkitchen {

    text-align: center;
}

.mainlinks {
    width: 90%;
    margin: auto;
}

.linkhead {
    font-size: larger;
    font-weight: bold;

}

.alink {
    text-decoration: none;
    color: black;
}

.alink:hover {
    text-decoration: underline;
    color: gray;
}

.linkhead .head {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}

.linksubhead {
    text-decoration: none;
    color: black;
    margin-top: 10px;
}

.linksubhead .subhead {
    text-transform: uppercase;
    font-weight: bold;
}

.maindescription {
    width: 90%;
    margin: auto;
}

.description {
    margin-top: 50px;
    color: gray;
}

.description h1,
h2 {
    color: gray;
    font-size: large;
    font-weight: bold;
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 30px;
    background-color: rgb(23, 35, 55);
    border-bottom: 2px solid white;
}

.foot {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    row-gap: 7px;

}

.foot a {
    text-decoration: none;
    color: white;
}

.foot a:nth-child(1) {
    color: grey;
}

.foot a:not(:first-child):hover {
    text-decoration: underline;
}

.footdown {
    background-color: rgb(23, 35, 55);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: white;
    align-items: center;

}

#foot a:hover {
    text-decoration: none;
}

@media screen and (min-width:768px) and (max-width:1024px) {
    .offer {
        margin-top: 150px;
        justify-content: flex-start;
    }
}

@media screen and (max-width:600px) {
    header {
        flex-direction: column;
    }

    header>* {
        padding: 10px 0px;
    }

    header nav ul li>* {
        padding: 10px;
    }

    nav ul {
        margin: 0;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
    }



    nav ul li:not(:last-child) {
        padding-right: 5px;
    }

    .search {
        padding: 0;
        width: 90%;
    }

    .search input[type='text'] {
        width: 100%;
    }

    #moresub {
        right: 10px;
    }

    .offer {
        margin-top: 220px;
        align-items: baseline;
        align-content: center;
        overflow-x: auto;
        justify-content: flex-start;
    }

    .sale3 img {
        width: 100%;
    }

    .knowmore img {
        width: 100%;
    }

    .sale9 img {
        width: 100%;
    }

    .bestofkitchen img {
        width: 100%;
    }

    .sale4 img {
        width: 100%;
    }

}